/* CSS reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}
/* CSS reset end */

:root {
  /* Primary colors */
  --clr-purple-600: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-selfcare: hsl(43, 84%, 65%);

  /* Neutral colors */
  --clr-navy-950: hsl(226, 43%, 10%);
  --clr-navy-900: hsl(235, 46%, 20%);
  --clr-purple-500: hsl(235, 45%, 61%);
  --clr-navy-200: hsl(236, 100%, 87%);
  --clr-white: white;

  /* Typography */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 500;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-white);
}

main {
  display: grid;
  gap: 1.75em;

  padding: 6em 2em;
  min-block-size: 100dvb;
  background-color: var(--clr-navy-950);

  /* TODO -- Need paddings */
}

p,
.timeframe__btn {
  font-weight: (--fw-light);
  color: var(--clr-navy-200);
}

.profile__card,
.category-card__content,
.timeframe {
  padding: 2em;
  border-radius: 1em;
}

.profile__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  background-color: var(--clr-purple-600);
}

.profile__img {
  border: 3px solid white;
  border-radius: 50%;
  max-inline-size: 5em;
}

.profile__name {
  margin-block-start: 0.25rem;
  font-size: 1.75rem;
  font-weight: var(--fw-light);
}

.timeframe {
  display: flex;
  justify-content: space-between;

  padding: 2.5em;
  background-color: var(--clr-navy-900);
}

.timeframe__btn {
  border: none;
  font-size: 1.125rem;
  background-color: inherit;
}

.btn-active {
  color: var(--clr-white);
}

.category-card {
}

.category-card__content {
  background-color: var(--clr-navy-900);
}

.category-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-card__title {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

.category-card__hrs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-start: 0.5em;
}

.category-card__curr {
  font-size: 2.5rem;
  font-weight: var(--fw-light);
  color: var(--clr-white);
}

/* Footer */
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
