/* CSS reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}
/* CSS reset end */

:root {
  /* Primary colors */
  --clr-purple-600: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-selfcare: hsl(43, 84%, 65%);

  /* Neutral colors */
  --clr-navy-950: hsl(226, 43%, 10%);
  --clr-navy-900: hsl(235, 46%, 20%);
  --clr-purple-500: hsl(235, 45%, 61%);
  --clr-navy-200: hsl(236, 100%, 87%);
  --clr-white: white;

  /* Typography */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 500;
}

body {
  display: grid;
  place-items: center;

  block-size: 100dvb;
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-white);
  background-color: var(--clr-navy-950);
}

main {
  display: grid;
  gap: 1.75em;

  padding: 6em 2em;
  inline-size: 100%;
  max-inline-size: 36em;

  @media (min-width: 64em) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'profile work play study'
      'profile exercise social selfcare';

    padding-inline: 2.5em;
    max-inline-size: 68em;
  }
}

p,
.timeframe__btn {
  font-weight: (--fw-light);
  color: var(--clr-navy-200);
}

.profile__card,
.category-card__content {
  padding: 2em;
  border-radius: 1em;
}

.profile {
  display: grid;

  grid-template-rows: repeat(2, auto);
  background-color: var(--clr-navy-900);

  border-radius: 1em;

  /* Not sure if it's ok to just use this one area assignment */
  @media (min-width: 64em) {
    grid-area: profile;
  }
}

.profile__card {
  grid-row: 1 / 2;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  background-color: var(--clr-purple-600);

  @media (min-width: 64em) {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
}

.profile__img {
  border: 3px solid white;
  border-radius: 50%;
  max-inline-size: 5em;
}

.profile__name {
  margin-block-start: 0.25rem;
  font-size: 1.75rem;
  font-weight: var(--fw-light);

  @media (min-width: 64em) {
    font-size: 2rem;
  }
}

.timeframe {
  grid-row: 2;
  z-index: 1;

  display: flex;
  justify-content: space-around;

  padding: 1.75em;

  @media (min-width: 64em) {
    flex-direction: column;
    justify-content: none;

    padding: 0.75em 2em;
  }
}

.timeframe__btn {
  border: none;
  font-size: 1.125rem;
  background-color: inherit;

  @media (min-width: 64em) {
    font-size: 1rem;
  }
}

.timeframe__btn--active {
  color: var(--clr-white);
}

.category-card {
  display: grid;
  grid-template-rows: 2.5em auto;
  grid-template-columns: 1fr;
}

.category-card__decorator {
  grid-row: 1 / -1;
  grid-column: 1;

  border-radius: 1em;
  background-repeat: no-repeat;
  background-position: right 7.5% top -0.5rem;
}

.category-card__decorator--work {
  background-color: var(--clr-work);
  background-image: url('./images/icon-work.svg');
}

.category-card__decorator--play {
  background-color: var(--clr-play);
  background-image: url('./images/icon-play.svg');
}

.category-card__decorator--study {
  background-color: var(--clr-study);
  background-image: url('./images/icon-study.svg');
}

.category-card__decorator--exercise {
  background-color: var(--clr-exercise);
  background-image: url('./images/icon-exercise.svg');
}

.category-card__decorator--social {
  background-color: var(--clr-social);
  background-image: url('./images/icon-social.svg');
}

.category-card__decorator--self-care {
  background-color: var(--clr-selfcare);
  background-image: url('./images/icon-self-care.svg');
}

.category-card__content {
  grid-row: 2;
  grid-column: 1;
  align-self: end;

  background-color: var(--clr-navy-900);
}

.category-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-card__title {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);

  @media (min-width: 64em) {
    font-size: 1rem;
  }
}

.category-card__hrs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-start: 0.5em;

  @media (min-width: 64em) {
    flex-direction: column;
    align-items: start;
    gap: 0.5em;

    margin-top: 1.5em;
  }
}

.category-card__curr {
  font-size: 2.5rem;
  font-weight: var(--fw-light);
  color: var(--clr-white);
}

p,
.category-card__prev {
  @media (min-width: 64em) {
    font-size: 0.9rem;
  }
}

/* Footer */
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
